

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;

    flex-wrap: wrap;
    font-family: 'Vipp Nue', sans-serif;
}

@font-face {
    font-family: 'Vipp Nue';
    src: url('./font/vipp.ttf');
}