

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;

    font-family: 'Vipp Nue', sans-serif;
    text-decoration: none;
    // font-size: 62.5%;
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
}

@font-face {
    font-family: 'Vipp Nue';
    src: url('./font/vipp.ttf');
}